.about {
    background-color: #F6F6F6;
    padding-bottom: 107px;

    &__title {
        padding-top: 120.25px;
    }

    &__subtitle {
        font-size: 18px;
        text-align: center;
        font-weight: 500;
        
    }
}