.skills {
    padding-top: 91px;
    margin-bottom: 69.1px;
     
    &__subtitle {
        text-align: center;
        font-weight: 500;
        margin-bottom: 83.49px;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110.06px;

    &__image {
        display:block;
        margin: 0 auto;
        margin-bottom: 24.21px;
    }
    &__title {
        text-align: center;
        color: #828282;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 41.41px;

        &__last {
            margin-bottom: 56.96px;
        }
    }
    &__stars {
        align-self: flex-end;
    }
}

